<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Lista de {{namePlural.toLowerCase()}}</h3>
    </div>
    <div class="card-toolbar">
      <a type="button" class="btn btn-primary" (click)="newEdit(EMPTY_MODEL)">Crear {{nameSingular.toLowerCase()}}</a>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>ID</th>
          <th>DOCUMENTO</th>
          <th>NOMBRES</th>
          <th>APELLIDOS</th>
          <th>ACCIONES</th>
        </thead>
        <thead class="primary">
          <tr>
              <th>
                <i (click)="get(page)" class="fas fa-sync-alt icon-load" [class.fa-spin]="isLoadingGet"></i>
              </th>
              <th scope="col">
                <input type="text" [(ngModel)]="filters.document_number" class="form-control" id="filter_document_number" name="filter_document_number" placeholder="Titular" (keydown.enter)="get(1)">
              </th>
              <th scope="col">
                <input type="text" [(ngModel)]="filters.name" class="form-control" id="filter_name" name="filter_name" placeholder="Nombre(s)" (keydown.enter)="get(1)">
              </th>
              <th scope="col">
                <input type="text" [(ngModel)]="filters.lastname" class="form-control" id="filter_lastname" name="filter_lastname" placeholder="Apellido(s)" (keydown.enter)="get(1)">
              </th>
              <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let model of banks">
            <td>{{model.id}}</td>
            <td>{{model.document_type}} - {{model.document_number}}</td>
            <td #name [innerText]="model.name" (blur)="updateValue(model.id, name.innerText, model, 'name', 'nombre(s) ')" contenteditable="true">{{model.name}}</td>
            <td #lastname [innerText]="model.lastname" (blur)="updateValue(model.id, lastname.innerText, model, 'lastname', 'apellido(s) ')" contenteditable="true">{{model.lastname}}</td>

            <td>
              <span (click)="newEdit(model)" class="label label-lg label-inline" style="margin-right: 2px; margin-bottom: 2px; cursor: pointer;">
                Editar&nbsp;&nbsp;<i class="fas fa-edit icon-edit"></i>
             </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer py-4">
      <nav aria-label="...">
        <ul class="pagination justify-content-end mb-0">
          <ngb-pagination [collectionSize]="totalPage" [(page)]="page" [maxSize]="12" [rotate]="true" [boundaryLinks]="true" (pageChange)="get(page)"></ngb-pagination>
        </ul>
      </nav>
    </div>
  </div>
</div>